
/* Nav bar */

#logo {
    height: 60px;
    width: 60px;
}

nav li {
    list-style: none;
}

nav {
    float: right;
}

nav a {
    color: #B6244F;
    text-decoration: none;
    background: linear-gradient(to top, #B6244F 0%, #B6244F 1%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
    padding-bottom: 5px;
}

nav a:hover {
    background-size: 100% 100%;
}

/* Element au centre */

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    flex-direction: column;
    height: 100%;
    position: fixed;
    z-index: 1000;
}

.container-header nav {
    gap: 30px;
    display: flex;
    font-size: 1.2em;
    flex-direction: column;
}

.container-header .foot {
    color: #B6244F;
    text-shadow: 0px 0px 5px #fff;
}