.self-pic {
    border-radius: 50%;
    border: #B6244F 3px solid;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    margin-top: 2em;
    background: url("/yangrosine/assets/profile-pic.png") center center no-repeat;
}

.doggy-pic {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.middle {
    display: flex;
    align-items: center;
}

.fly, .loki {
    display: flex;
    gap: 50px;
}

.fly-pic {
    border-radius: 50%;
    border: #B6244F 3px solid;
    height: 200px;
    width: 200px;
    margin-top: 2em;
    background: url("/yangrosine/assets/fly.png") no-repeat;
    background-size: cover;
}

.loki-pic {
    border-radius: 50%;
    border: #B6244F 3px solid;
    height: 200px;
    width: 200px;
    margin-top: 2em;
    background: url("/yangrosine/assets/loki.png") no-repeat;
    background-size: cover;
}

.doggy-text {
    display: flex;
    flex-direction: column;
}

.about-para {
    color: #000;
    margin-top: 50px;
}