/* Contact */
.light-pink {
    background-color: #FEECEE;
}

.contact {
    color: #B6244F;
}

.button-container {
    display: flex;
    justify-content: center;
}

.social-media {
    text-align: center;
    margin-bottom: 20px;
}

.social-media a {
    color: #B6244F;
}

.social-media a:hover {
    color: #B6244F;
    font-size: large;
}

/* footer  */
.foot {
    text-align: center;
    color: #B6244F;
}

lemon-learning-player {
    display: none;
}

