/* Flex */
@media (min-width: 12.5em) {
    .flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  
  @media (min-width: 63em) {
    .flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  
  /* Figure & IMG */
  @media (min-width: 12.5em) {
    figure {
      width: 100%;
      padding-right: 5px;
      overflow: hidden;
    }
  }
  
  @media (min-width: 30em) {
    figure {
      width: 50%;
    }
  }
  
  @media (min-width: 47.5em) {
    figure {
      width: 35%;
    }
  }
  
  @media (min-width: 63em) {
    figure {
      height: 300px;
      width: 300px;
      border: 2px solid #B6244F;
    }
  }