.gradiant-color {
    background: linear-gradient(
        to right,
        #B6244F 50%,
        #FEECEE 50%
    );
}

/* Header */

.header-skill {
    display: flex;
    justify-content: space-between;
}

.header-skill .title {
    padding: 10px 20px;
    border-radius: 10px;
}

/* Header pro */

.header-skill .title.pro {
    background: #FEECEE;
    color: #B6244F;
}

/* Header perso */

.header-skill .title.perso {
    background: #B6244F;
    color: #FEECEE;
}

/* Container skill */

.container-skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

/* skill li-item */

.skill .container-skill li.li-item {
    margin-left: 10px;
}

.container-skill-pro {
    column-count: 2;
}